{% extends 'base.html' %}

{%block content%}
<h1><b>About:</b></h1><br><br>

<body style="background-color: rgba(148, 168, 36, 0.815);"></body>
<table>
    <tr>
        <th>
            A library management system is software that is designed to manage all the functions of a library.<br>
            It helps librarian to maintain the database of new books and the books that are borrowed by members along with their due dates.<br>
            This system completely automates all your library's activities.<br>
            Library management is a sub-discipline of institutional management that focuses on specific issues faced by libraries and library management professionals.<br>
             Library management encompasses normal managerial tasks, as well as intellectual freedom and fundraising responsibilities.
        </th>
    </tr>
</table>

{%endblock%}