{%extends 'base.html'%}

{%block content%}
<body style="background-color: rgba(148, 168, 36, 0.815);"></body>

<h1><b> Details:</h1></b><br>

<table>
<tr>
<th>
    Country     : India<br>
    Organisation: Sundaram Book Shop<br>
    Address     : Shop No- 405/406
                    Main Road, Gandhi Nagar Andher (E),
                    mumbai-400056.<br>
    Email Id    : sundarambook@gmail.com<br>
    Telephone   : 022-40586525/45828958</th>
</th>
</tr>
</table><br><br>


<table>
<tr>
<th>
    Country : USA<br>
    Address : Store No- 025
              Floria 0325,
              United State Of America<br>
Email Id    : sundarambook@gmail.com<br>
Telephone   : 071587495825
</th>
</tr>
</table>

{%endblock%}